{% extends 'base.html' %} {% block content %} {% load static%}

<div
  class="container-fluid px-5 bg-light my-5 vh-100 mb-5"
  style="min-height: 100vh"
>
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <div class="card mb-2">
        <ul class="list-group list-group-flush">
          <a href="{% url 'listar_productos' %}" class="list-group-item"
            >Todos los productos</a
          >
          <a href="{% url 'listar_productos' %}" class="list-group-item"
            >Agregar un nuevo producto</a
          >
        </ul>
      </div>
      <div class="card mb-2">
        <ul class="list-group list-group-flush">
          <a href="{% url 'ordenesAdmin' %}" class="list-group-item"
            >Ver Ordenes</a
          >
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-10">
      <section class="card p-5">
        <h4 class="card-tittle mb-2 fw-bold text-success">
          Registra un nuevo producto
        </h4>
        <div class="card-body">
          <form
            method="POST"
            id="registroProducto"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre producto</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Nombre producto"
                name="nombre"
              />
              <p class="text-danger mb-2 d-none" id="alertNombre"></p>
            </div>

            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input
                type="number"
                min="1000"
                class="form-control"
                id="precio"
                placeholder="Precio producto"
                name="precio"
              />
              <p class="text-danger mb-2 d-none" id="alertPrecio"></p>
            </div>

            <div class="mb-3">
              <label for="marca" class="form-label">Marca</label>
              <input class="form-control" type="text" id="marca" name="marca">
              </input>
              <p class="text-danger mb-2 d-none" id="alertMarca"></p>
            </div>

            <div class="mb-3">
              <label for="descripcion" class="form-label"
                >Descripcion producto</label
              >
              <textarea
                class="form-control"
                id="descripcion"
                rows="3"
                name="descripcion"
              ></textarea>
              <p class="text-danger mb-2 d-none" id="alertDescripcion"></p>
            </div>

            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen producto</label>
              <input
                type="file"
                class="form-control"
                id="imagen"
                name="imagen"
              />
            </div>
            <div class="mb-3">
              <label for="model" class="form-label">Modelo</label>
              <input
                type="text"
                class="form-control"
                id="model"
                placeholder="Modelo"
                name="model"
              />
              <p class="text-danger mb-2 d-none" id="alertModel"></p>
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="text"
                class="form-control"
                id="stock"
                placeholder="Stock"
                name="stock"
              />
              <p class="text-danger mb-2 d-none" id="alertStock"></p>
            </div>

            <div class="text-end">
              <button type="cancel" class="btn btn-outline-dark mb-2">
                Cancel
              </button>
              <button type="submit" class="btn btn-dark mb-2">Submit</button>
            </div>
          </form>
          <div id="alertSuccess" class="d-none alert alert-success">
            Registro exitoso
          </div>

          <div id="alertError" class="d-none alert alert-error">
            Error en el registro:
          </div>
          <script>
            const formulario = document.getElementById("registroProducto");
            const alertSuccess = document.getElementById("alertSuccess");
            const alertError = document.getElementById("alertError");

            formulario.addEventListener("submit", async (e) => {
              e.preventDefault();

              alertSuccess.classList.add("d-none");
              alertError.classList.add("d-none");

              const formData = new FormData(formulario);

              const response = await fetch("/dashboard/", {
                method: "POST",
                body: formData,
              });

              if (response.ok) {
                const data = await response.json();
                alertSuccess.classList.add("d-block");
                alertSuccess.classList.remove("d-none");
                alertSuccess.textContent = data.mensaje;
              } else {
                const data = await response.json();
                alertSuccess.classList.add("d-block");
                alertError.classList.remove("d-none");
                alertError.textContent = data.errores.join("\n");
              }
            });
          </script>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
