{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="row my-auto vh-100">
    <div class="col-md-8 col-sm-10 mx-auto my-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1 class="fw-bold text-center mt-5">Iniciar Sesion</h1>
            <div class="align-items-center p-4">
              <form
                style="width: 100%"
                action="{% url 'login' %}"
                id="miFormulario"
                method="POST"
              >
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input id="username" name="username" class="form-control" />
                  <label class="form-label mt-2" for="email">UserName</label>
                </div>

                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                />
                <label class="form-label mt-2" for="password">Contraseña</label>

                <div class="pt-1 mb-4">
                  <input
                    class="btn btn-dark"
                    type="submit"
                    value="Enviar"
                    id="enviar"
                  />
                </div>

                <p id="mensaje-error" class="d-block text-warning"></p>
                <p class="small mb-5 pb-lg-2">
                  <a class="text-muted" href="#!"
                    >¿Has olvidado tu contraseña?</a
                  >
                </p>
                <p>
                  No tienes cuenta?
                  <a href="{% url 'register' %}" class="link-info"
                    >Registrate Aquí</a
                  >
                </p>
              </form>
              <div id="alertSuccess" class="d-none">Registro exitoso</div>

              <div id="alertError" class="d-none alert alert-danger">
                Error en el registro:
              </div>
              <script>
                const formulario = document.getElementById("miFormulario");
                const userName = document.getElementById("username");
                const userPassword = document.getElementById("password");
                const alertSuccess = document.getElementById("alertSuccess");
                const alertError = document.getElementById("alertError");

                formulario.addEventListener("submit", async (e) => {
                  e.preventDefault();

                  alertSuccess.classList.add("d-none");
                  alertError.classList.add("d-none");

                  const response = await fetch("/login/", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: new URLSearchParams(new FormData(formulario)),
                  });

                  if (response.ok) {
                    const data = await response.json();
                    alertSuccess.classList.add("d-block");
                    alertSuccess.classList.remove("d-none");
                    alertSuccess.textContent = data.mensaje;
                    window.location.href = "/";
                  } else {
                    const data = await response.json();
                    alertSuccess.classList.add("d-block");
                    alertError.classList.remove("d-none");
                    alertError.textContent = data.errores.join("\n");
                  }
                });
              </script>
            </div>
          </div>
          <div class="col-md-6 d-none d-sm-block">
            <img
              src="{% static 'app/img/64319e54b0383e62bd9afe63e8ced343.jpg'%}"
              alt="Login-image"
              class="img-fluid h-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
