{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="row my-auto vh-100">
    <div class="col-md-8 col-sm-10 mx-auto my-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1 class="fw-bold text-center mt-5">Iniciar Sesion</h1>
            <div class="align-items-center p-4">
              <form
                style="width: 100%"
                id="miFormulario"
                action="#"
                method="post"
              >
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                  />
                  <label class="form-label mt-2" for="email">Email</label>
                </div>

                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                />
                <label class="form-label mt-2" for="password">Contraseña</label>

                <div class="pt-1 mb-4">
                  <input
                    class="btn btn-dark"
                    type="submit"
                    value="Enviar"
                    id="enviar"
                  />
                </div>

                <p id="mensaje-error" class="d-block text-warning"></p>
                <p class="small mb-5 pb-lg-2">
                  <a class="text-muted" href="#!"
                    >¿Has olvidado tu contraseña?</a
                  >
                </p>
                <p>
                  No tienes cuenta?
                  <a href="{% url 'register' %}" class="link-info"
                    >Registrate Aquí</a
                  >
                </p>
              </form>
            </div>
          </div>
          <div class="col-md-6 d-none d-sm-block">
            <img
              src="{% static 'app/img/AirForce_ToutPrincipal_Mobile_29-03-2023.png'%}"
              alt="Login-image"
              class="img-fluid h-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
