{% extends 'base.html' %} {% block content %} {% load static%}

<div class="container-fluid px-5 bg-light my-5" style="min-height: 100vh">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      {% if user.is_superuser %}
      <div class="card mb-2">
        <ul class="list-group list-group-flush">
          <a href="{% url 'listar_productos' %}" class="list-group-item"
            >Todos los productos</a
          >
          <a href="{% url 'dashboard' %}" class="list-group-item"
            >Agregar un nuevo producto</a
          >
        </ul>
      </div>
      <div class="card mb-2">
        <ul class="list-group list-group-flush">
          <a href="{% url 'ordenes' %}" class="list-group-item">Ver Ordenes</a>
          <a href="{% url 'listar_productos' %}" class="list-group-item"
            >Devoluciones</a
          >
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-10">
      <section class="card p-5">
        <h4 class="card-title mb-4 fw-bold text-success">Ordens</h4>
        <input
          type="text"
          class="form-control my-2 rounded-pill"
          placeholder="Busca acá"
        />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha de compra</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for pedido in pedidos %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ pedido.user }}</td>
                <td>{{ pedido.date }}</td>
                <td>{{ pedido.total }}</td>
                <td class="text-danger">Pendiente</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModall{{ pedido.id }}"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="dark"
                      class="bi bi-eye"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                      />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="Page navigation example text-end">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link text-dark" href="#">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </div>
  </div>
</div>

{% for pedido in pedidos %}
<div
  class="modal fade"
  id="exampleModall{{ pedido.id }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabell"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabell">Pedido #{{ pedido.id }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
      <ul>
        {% for item in pedido.purchaseitem_set.all %}
          <li class="p-2 fw-bold">
            {{ item.product }} - Cantidad: {{ item.quantity }}
          </li>
         
        {% endfor %}
      <ul>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
