{% extends 'base.html' %} {% block content %} {% load static%}

<div class="container-fluid px-5 bg-light my-5" style="min-height: 100vh">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      {% if user.is_superuser %}
      <div class="card mb-2">
        <ul class="list-group list-group-flush">
          <a href="{% url 'listar_productos' %}" class="list-group-item"
            >Todos los productos</a
          >
          <a href="{% url 'dashboard' %}" class="list-group-item"
            >Agregar un nuevo producto</a
          >
        </ul>
      </div>
      <div class="card mb-2">
        <ul class="list-group list-group-flush">
          <a href="{% url 'ordenes' %}" class="list-group-item">Ver Ordenes</a>
          <a href="{% url 'listar_productos' %}" class="list-group-item"
            >Devoluciones</a
          >
        </ul>
      </div>
      {% endif %}
    </div>

    <div class="col-sm-12 col-md-10">
      <section class="card p-5">
        <h4 class="card-tittle mb-4 fw-bold text-success">Ordens</h4>
        <input
          type="text"
          class="form-control my-2 rounded-pill"
          placeholder="Busca acá"
        />
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha de compra</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for pedido in pedidos %}
              </tr>

              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ pedido.user }}</td>
                <td>{{ pedido.date }}</td>
                <td>{{ pedido.total }}</td>
                <td class="text-danger">Pendiente</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="Page navigation example text-end">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link text-dark" href="#">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link text-dark" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
