{% extends 'base.html' %} {% block content %}
<div class="bg-primary text-center">
  <h1 class="text-light py-5 fw-bolder">CARPINTERIA PARA EXPERTOS</h1>
</div>
<div class="container-fluid px-5 mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
      <div class="card mb-4">
        <div class="card-body">
          <form>
            <h5>Filtrar por:</h5>
            <div class="form-group my-2">
              <label for="talla">Tipos</label>
              <select class="form-control" id="talla">
                <option value="">Todos los tipos</option>
                <option value="39">Tipo1</option>
                <option value="39.5">Tipo2</option>
                <option value="40">Tipo3</option>
              </select>
            </div>
            <div class="form-group my-2">
              <label for="marca">Marca:</label>
              <select class="form-control" id="marca">
                <option value="">Todas las marcas</option>
                <option value="nike">Bauker</option>
                <option value="adidas">Sodiplus</option>
                <option value="puma">EasyMac</option>
              </select>
            </div>
            <div class="form-group my-2">
              <label for="precio">Precio:</label>
              <select class="form-control" id="precio">
                <option value="">Todos los precios</option>
                <option value="menor">Menor a $50.000</option>
                <option value="medio">$50.000 a $100.000</option>
                <option value="mayor">Mayor a $100.000</option>
              </select>
            </div>
            <button type="submit" class="btn btn-dark">Filtrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
      <div class="row">
        {% for product in products %}
        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
          <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top" alt="..." />
            <div
              class="card-body d-flex flex-column justify-content-between align-items-start"
            >
              <h5 class="card-title">{{ product.name }}</h5>
              <small class="fw-bold">${{ product.price }}</small>
              <a
                href="{% url 'detalle_producto' product.id %}"
                class="btn btn-dark rounded-pill py-2 px-4 mt-3"
                >Comprar</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Footer xd -->
<!-- Footer -->
{% endblock %}
