{% extends 'base.html' %} {% block content %} {% load static%}
<div class="container-fluid">
  <div class="row my-auto vh-100">
    <div class="col-md-8 col-sm-10 mx-auto my-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <a
              href="{% url 'home' %}"
              class="text-center btn btn-dark mt-3 mx-3"
              >Ir al inicio</a
            >
            <h1 class="fw-bold text-center my-5">Registrate</h1>
            <div class="d-flex justify-content-center flex-column">
              <form method="POST" id="formulario" class="px-5">
                {% csrf_token %}
                <label for="username" class="form-label">Username:</label>
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control mb-3"
                  required
                />

                <label for="password" class="form-label">Password:</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control mb-3"
                  required
                />

                <label for="email" class="form-label">Email:</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control mb-3"
                  required
                />

                <button type="submit" class="btn btn-dark">
                  Crear usuario
                </button>
              </form>
              <div id="alertSuccess" class="d-none">Registro exitoso</div>

              <div id="alertError" class="d-none">Error en el registro:</div>

              <script>
                const formulario = document.getElementById("formulario");
                const userName = document.getElementById("username");
                const userPassword = document.getElementById("userpassword");
                const userEmail = document.getElementById("useremail");
                const alertSuccess = document.getElementById("alertSuccess");
                const alertError = document.getElementById("alertError");

                formulario.addEventListener("submit", async (e) => {
                  e.preventDefault();

                  alertSuccess.classList.add("d-none");
                  alertError.classList.add("d-none");

                  const response = await fetch("/register/", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: new URLSearchParams(new FormData(formulario)),
                  });

                  if (response.ok) {
                    const data = await response.json();
                    alertSuccess.classList.add("d-block");
                    alertSuccess.classList.remove("d-none");
                    alertSuccess.textContent = data.mensaje;
                  } else {
                    const data = await response.json();
                    alertSuccess.classList.add("d-block");
                    alertError.classList.remove("d-none");
                    alertError.textContent = data.errores.join("\n");
                  }
                });
              </script>
            </div>
            <div
              class="alert alert-success mt-2 d-none w-75 mx-auto"
              id="alertSuccess"
            ></div>
          </div>
          <div class="col-md-6 d-none d-sm-block">
            <img
              src="{% static 'app/img/AirForce_ToutPrincipal_Mobile_29-03-2023.png'%}"
              alt="Login-image"
              class="img-fluid h-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login Form -->
{% endblock %}
